nav {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 3px 0;
  z-index: 999;
  background-color: var(--color_accent);
}

.navbar-align {
  width: calc(100% - 2vw);
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu span {
  padding: 0.8vh 1vw;
  margin: 0 5px;
  color: var(--fontColor_sec);
  text-align: center;
  cursor: pointer;
  position: relative;
}

.menu span::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-bottom: 2px solid var(--fontColor_sec);
  border-radius: 2px;
  z-index: -1;
}

.menu span:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

#menuBtn {
  display: none;
}

.brand {
  max-height: 36px;
  color: var(--fontColor_sec);
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 0 2px;
  position: relative;
}

.brand-logo {
  width: 32px;
  height: 32px;
}

.brand::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-bottom: 2px solid var(--fontColor_sec);
  border-radius: 2px;
  z-index: -1;
}

.brand:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

@media screen and (max-width: 1200px) {
  .navbar-align {
    width: calc(100% - 2vw);
    padding-left: 1vw;
    padding-right: 1vw;
    flex-direction: row-reverse;
  }

  .menu {
    align-items: flex-start;
  }

  .menu span{
    display: none;
  }

  #menuBtn {display: block;}

  .menu.responsive span {
    display: block;
  }

  .menu.responsive {
    flex-direction: column;
    height: auto;
    transition: all 0.3s ease;
  }
}