.sidebar {
  position: fixed;
  inset: 40px 0 auto 0;
  background-color: var(--color_accent);
  z-index: 990;
}

.align-sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 1vw;
  padding: 4px 0 4px;
}

.align-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 1vw;
  color: var(--fontColor_pri);
}

.sidebar-filter {
  width: clamp(100px, 60vw, 400px);
  border: none;
  border-radius: 2px;
  color: var(--fontColor_pri);
  font-size: clamp(0.8em, 1.5vw, 1em);
}

.category {
  display: flex;
  gap: 0 5px;
  padding: 0 1vw;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.category * {
  font-size: clamp(1em, 2vw, 1.2em);
  color: var(--fontColor_sec);
}

.category a {
  font-size: clamp(0.8em, 2vw, 1em);
  font-weight: bold;
  color: var(--fontColor_sec);
}

.category::before {
  content: '';
  position: absolute;
  inset: 0 0 -2px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-bottom: 3px solid var(--fontColor_sec);
  z-index: -1;
}

.category:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

#cardsPage {
  padding: 9vh 0 0;
  width: 100%;
  min-height: 91vh;
}

.div-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 900;
}

.card-margin {
  position: relative;
  flex: 0 0 25%;
  aspect-ratio: 1/1.32;
}

.card {
  margin: 1vh 1vw;
  padding: 0.5vh 0.5vh; 
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: fill;
}

.card-name {
  font-size: clamp(0.8em, 2.5vw, 1.2em);
  font-weight: bold;
  color: var(--fontColor_pri);
  font-family: var(--font_title);
}

.card-price {
  font-size: clamp(0.7em, 2.5vw, 1.1em);
  color: #3b3b3b;
}

.order-btn {
  margin: auto;
  padding: 10px 3vw;
  border: none;
  color: var(--fontColor_sec);
  background-color: var(--color_accent);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Modal */
.modal-background {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #000000F2;
  z-index: 999;
}

.modal-card {
  width: clamp(300px, 96vw, 1200px);
  height: 90vh;
  margin: 4% auto auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--shadow);
}

.modal-list-images {
  flex: 1 1 70%;
  height: 100%;
  position: relative;
}

.modal-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.modal-infos {
  flex: 1 1 30%;
}

.modal-desc {
  font-size: clamp(0.8em, 1.5vw, 1.1em);
  padding: 0 5px;
}

.align-price {
  display: flex;
  flex-direction: column;
}

.modal-name {
  color: var(--fontColor_pri);
  font-size: clamp(1.1em, 2vw, 1.5em);
  font-weight: bold;
  font-family: var(--font_title);
}

.modal-price {
  color: var(--fontColor_pri);
  font-weight: bold;
}

.modal-btn-plus {
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 40px;
  height: 80px;
  margin: auto;
  background-color: #0000008C;
  color: white;
  font-size: 2em;
  border: none;
}

.modal-btn-minus {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 40px;
  height: 80px;
  margin: auto;
  background-color: #0000008C;
  color: white;
  font-size: 2em;
  border: none;
}

@media screen and (max-width: 1200px) {
  #cardsPage {
    padding-top: 11vh;
    min-height: 89vh;
  }
}

@media screen and (max-width: 800px) {
  .category {
    flex-direction: column;
  }

  .align-categories {
    gap: 0;
  }

  #cardsPage {
    padding-top: 11vh;
    min-height: 89vh;
  }

  .modal-card {
    width: clamp(300px, 96vw, 1200px);
    height: 96vh;
    margin: 2vh auto auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .modal-list-images {
    height: auto;
    max-height: 80%;
  }
  
  .modal-infos {
    flex: 1 1 40%;
    overflow: auto;
  }
}

@media screen and (max-width: 560px) {

  .align-sidebar {
    flex-direction: column;
  }

  #cardsPage {
    padding-top: 14vh;
    min-height: 86vh;
  }

  .card-margin {
    flex: 0 0 50%;
  }

  .card-desc {
    height: auto;
    padding-bottom: 2vh;
  }
  
}