:root {
  font-family: "Exo 2", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --color-accent:   #22C55E; 
  --color-dark:  #0F172A;
  --color-back: #0F172A;

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --border: 2px solid var(--color-accent);
  --border-slim: 1px solid var(--color-accent);

  --padding: 2% 5%;

  /* Fonts */
  --font-color: #eff7f2;
  --font-color-sec: #0F172A;

  --font-size-enormous: clamp(1em, 2vw, 1.4em);
  --font-size-huge: clamp(.8em, 3vw, 1.2em);
  --font-size-big: clamp(.8em, 2.5vw, 1.1em);
  --font-size-medium: clamp(.8em, 2vw, 1em);
  --font-size-small: clamp(.6em, 1.5vw, .8em);

  /* Animations */
  --animation: .2s linear;
}

* {
  color: var(--font-color);
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--color-back);

  section {
    padding: 15vh 2vw 0;
    min-height: 100vh;
    box-sizing: content-box;
  }
}

h1 {
  font-size: clamp(3em, 4vw, 6em);
  color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;

  * {
    color: var(--color-accent);
    font-size: var(--font-size-huge)
  }
}

h2 {
  font-size: clamp(1.2em, 3vw, 2.5em);
  color: var(--color-accent);
}

#subtitle {
  margin-top: calc(-1vw - 5vh);
  color: var(--font-color);
}

h3 {
  font-size: var(--font-size-enormous);
  color: var(--font-color);
}

h4 {
  margin-top: 4vh;
  margin-bottom: 1vh;
  color: var(--color-accent);
}

.disclaimer {
  position: absolute;
  inset: auto 5vw 5vh;
}

button {
  margin: 0;
  padding: clamp(8px, 2%, 16px) clamp(10px, 4%, 20px);
  font-size: var(--font-size-medium);
  font-weight: bold;
  border: none;
  color: var(--color-accent);
  background-color: transparent;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  * {
    color: inherit;
    font-size: var(--font-size-medium)
  }

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border: var(--border-slim);
    transform-origin: center;
    transform: scaleY(0);
    transition:  var(--animation);
    z-index: -1;
  }

  &:hover::before {
    transform-origin: center;
    transform: scaleY(1);
  }
}

/* Home */
#to-do {
  display: flex;
  justify-content: center;
  text-align:start;
}

strong {
  font-size: var(--font-size-huge);
  color: var(--color-accent);
}

/* Find */
input[type="text"] {
  flex: 10;
  padding: 5px;
  font-size: var(--font-size-medium);
  background-color: transparent;
  color: var(--color-accent);
  border: none;
  outline: 1px solid var(--color-accent);
}

/* FAQ */
#Faq {
  div {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

details {
  width: 40%;
  padding: 2vh 2vw;
  margin: 2vh 2vw;
  border: 1px solid var(--color-accent);
  text-align: left;
  cursor: pointer;

  &:focus-within {
    box-shadow: var(--shadow);
  }

  &:open summary {
    margin-bottom: 3vh;
    padding-bottom: 1vh;
  }

  summary {
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-huge);
  }
}

@media screen and (max-width: 900px) {
  .page-home {
    padding: 22vh 2vw 1vh;
    min-height: 77vh;
  }

  footer {
    flex-direction: column;
  }
}