nav {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 0 0 4px;
  z-index: 999;
  background-color: var(--color_accent);
}

.navbar-align {
  width: calc(100% - 2vw);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

nav span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
  max-height: 26px;
  padding: 10px 0.5vw 6px;
  margin: 0 1vw;
  color: var(--fontColor_sec);
  font-size: clamp(.9em, 1.5vw, 1.1em);
  text-align: center;
  cursor: pointer;
  position: relative;
}

nav span::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-top: 4px solid var(--fontColor_sec);
  z-index: -1;
}

nav span:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

#menuBtn {
  display: none;
}

.brand-logo {
  width: 28px;
}

@media screen and (max-width: 1100px) {
  .navbar-align {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menu {
    flex-direction: column;
  }

  .menu span {
    display: none;
    text-align: left;
  }

  #menuBtn {
    display: block;
  }

  .menu.responsive {
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .menu.responsive span {
    display: block;
    text-align: left;
  }

  nav .menu.responsive span::before {
    content: '';
    position: absolute;
    inset: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
    border-bottom: 2px solid var(--fontColor_sec);
    border-top: none;
  }

  nav .menu.responsive span:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}