:root {
  font-family: system-ui;
  line-height: 1.4;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--fontColor_pri);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color_accent: #ec3838;

  --background: #f6ffff;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  --fontColor_pri: rgb(22, 21, 21);
  --fontColor_sec: rgb(238, 227, 227);
  --font: Secular One;

  --menu_size: 120px;
}

* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* content */
section {
  margin: 0;
  padding: 16vh 2vw 1vh;
  width: calc(100% - 4vw);
  min-height: 83vh;
  background-color: var(--background);
}

#Start {
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 8vh 2vw 1vh;
  min-height: 91vh;
}

.big-title {
  text-align: center;
  font-size: clamp(5em, 7vw, 10em);
  font-weight: bold;
  color: var(--color_accent);
}

h1 {
  text-align: center;
  font-size: clamp(2em, 4vw, 4em);
  font-weight: bold;
  color: var(--color_accent);
}

h2 {
  margin: -6vh auto 0;
  text-align: center;
  font-size: clamp(1.3em, 3vw, 2.5em);
  color: #333;
}

h3 {
  font-size: clamp(1.1em, 2vw, 1.6em);
  padding: 0 auto;
}

button {
  margin-top: 5vh;
  padding: 2vh 2vw;
  font-size: clamp(1em, 2vw, 1.4rem);
  font-weight: 600;
  color: var(--fontColor_sec);
  border-radius: 5px;
  border: none;
  background-color: var(--color_accent);
  box-shadow: var(--shadow);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

button::before {
  content: '';
  position: absolute;
  inset: 3px;
  padding: 2vh 2vw;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  background-color: var(--fontColor_sec);
  border: none;
  border-radius: 4px;
  z-index: -1;
}

button:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

button:hover * {
  color: var(--color_accent);
}

button:hover .ifood-logo {
  opacity: 0;
  display: none;
}

button:hover .ifood-logo-red {
  opacity: 1;
  display: inline;
  transition: transform .3s ease-in-out;
}

.ifood-logo, .ifood-logo-red {
  display: inline;
  width: 64px;
  height: 32px;
  margin: auto;
  padding-left: 8px;
  margin-bottom: -10px;
}

.ifood-logo-red {
  opacity: 0;
  display: none;
}

footer {
  margin: 0;
  padding: 2vh 1vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #333;
}

footer span {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 5px;
  color: var(--fontColor_sec);
  font-size: clamp(0.8em, 2vw, 1em);
}

@media screen and (max-width: 900px) {
  footer a {
    font-size: 0;
  }
}