/* Footer */
footer {
  margin: 0;
  padding: .2vh 5vw 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--border);
  background-color: var(--color-dark);

   * {
    color: var(--font-color);
  }

  a {
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font-size-medium);
  }

  header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  h3 {
    font-size: clamp(1.4em, 2vw, 1.8em);
    color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
  }

  span {
    margin-top: -3vh;
    font-size: var(--font-size-medium);
  }

  .email {
    margin: .5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
  }
}
