nav {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  background-color: var(--color_accent);
  box-shadow: var(--shadow);
}

.menu {
  display: flex;
}

nav span {
  max-height: 24px;
  padding: .6vh 1vw;
  margin: 0 1vw;
  display: flex;
  align-items: center;
  gap: 0 5px;
  color: var(--fontColor_sec);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

nav span::before {
  content: '';
  position: absolute;
  inset: 4px 0 0;
  transform-origin: bottom;
  transform: scaley(0);
  transition: transform .2s ease-in-out;
  background-color: var(--background);
  z-index: -1;
}

nav span:hover::before {
  transform-origin: bottom;
  transform: scaley(1);
}

nav span:hover {
  color: var(--color_accent);
}

#menuBtn {
  display: none;
}

.brand-logo {
  width: 24px;
}

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: row-reverse;
  }

  .menu {
    flex-direction: column;
  }

  #menuBtn {
    display: block;
  }
  
  .menu span {
    display: none;
  }

  .menu.responsive {
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .menu.responsive span {
    display: block;
    text-align: left;
  }
}