:root {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
  color: var(--fontColor_pri);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color_accent: #dd5a86;
  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.08);

  --fontColor_pri: rgb(22, 21, 21);
  --fontColor_sec: rgb(238, 227, 227);
}

* {  scroll-behavior: smooth;}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* content */
section {
  margin: 0;
  padding: 9vh 2vw 1vh;
  min-height: 90vh;
  background-color: #ffffff;
}

#Start { 
  padding: 24vh 2vw 1vh;
  min-height: 75h;
  background-image: url('../public/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: clamp(2.2em, 4vw, 4em);
  font-weight: bold;
  color: var(--color_accent);
}

h2 {
  text-align: center;
  font-size: clamp(1.8em, 3vw, 3em);
  font-weight: bold;
  color: var(--color_accent);
}

p {
  font-size: clamp(1em, 2vw, 1.2em);
  padding: 0 auto;
}

button {
  margin: 1vh auto 0;
  padding: 2vh 2vw;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-weight: bold;
  color: var(--fontColor_sec);
  border-radius: 4px;
  border: none;
  background-color: var(--color_accent);
  box-shadow: var(--shadow);
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-flex;
  gap: 0 8px;
  align-items: center;
}

button::before {
  content: '';
  position: absolute;
  inset: 2px;
  padding: 2vh 2vw;
  background-color: var(--fontColor_sec);
  border: none;
  border-radius: 4px;
  transform-origin: center;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

button:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

button:hover {
  transition: 300ms ease-in-out;
  color: var(--color_accent);
}

button * {
  font-size: 1.6rem;
}

/* Products */
.products {
  width: calc(100% - 2vw);
  padding: 2vh 1vw 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.product {
  flex: 0 0 calc(25% - 3vw);
  padding: 2vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: var(--shadow);
}

.product > :first-child {
  width: 80px;
  font-size: 5em;
  padding: 10px 10px 20px;
  color: var(--color_accent);
}

.product-title {
  font-size: clamp(1em, 1.5vw, 1.4em);
  font-weight: 600;
}

.product-desc {
  font-size: clamp(.9em, 1.5vw, 1.2em);
}

/* About */
.about-tab {
  width: calc(100% - 2vw);
  height: 90%;
  padding: 1vh 1vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 5em;
}

.about-tab * {
  text-align: left;
  font-size: clamp(1em, 1vw, 1.6em);
}

#About img {
  width:  60vw;
  max-width: 400px;
  margin: auto auto 2vh;
  border-radius: 2px;
  border: 10px solid white;
  cursor: pointer;
  box-shadow: var(--shadow);
}

/* Faq */
.align-faq {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 1vw;
  margin-bottom: 5vh;
}

.align-faq div {
  flex: 0 0 calc(50% - 3vw);
  padding: .5vh 1vw 2vh;
  text-align: left;
  border: 1px solid var(--color_accent);
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.align-faq p {
  font-size: clamp(0.9em, 2vw, 1.2em);
  color: var(--color_accent);
  font-weight: bold;
  text-align: center;
}

.align-faq span {
  color: var(--color_pri);
  font-size: clamp(0.9em, 2vw, 1em);
  white-space: pre-wrap;
  text-align: justify;
}

/* footer */
footer {
  background-color: #333;
  padding: 2vh 0.5vw 1vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh 0;
}

.align-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1%;
  margin: 1vh 0;
  border-top: 1px solid var(--color_accent);
}

footer span {
  margin: 2vh 0 0;
  flex: 0 0 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  color: var(--fontColor_sec);
  cursor: pointer;
}

.brand-footer {
  margin: 0 auto;
  align-items: center;
  display: inline-flex;
  gap: 5px;
  color: var(--fontColor_sec);
}

.brand-logo-footer {
  width: 40px;
  height: 36px;
}

.brand-name-footer {
  font-size: clamp(1em, 3vw, 1.4em);
}

@media screen and (max-width: 1200px) {
  .about-tab {
    flex-direction: column-reverse;
  }

  section {
    padding: 12vh 2vw 2vh;
    width: calc(100% - 4vw);
    min-height: 86vh;
  }

  .btn {
    font-size: 1em;
  }

  footer .align-links span {
    font-size: 0;
  }

  footer .align-links span > * {
    font-size: 32px;
  }
}

@media screen and (max-width: 800px) {
  #Start {
    padding: 28vh 1vw 2vh;
    width: calc(100% - 2vw);
    min-height: 70vh;
  }

  .product {
    flex: 0 0 calc(50% - 3vw);
  }

  .product-title {
    font-size: 1em;
  }

  .align-faq div {
    flex: 0 0 calc(100% - 3vw);
  }
}